<form action="" class="form-horizontal" id="createForm" method="post">
    {% csrf_token %}
    <div class="box-body">
        {% for field in form_obj %}
            <div style="overflow: hidden; margin-bottom: 10px"
                 class="from-group{% if field.errors %} has-error{% endif %}">
                <label class="col-sm-2 control-label">{{ field.label }}
                    {% if field.field.required %}
                        <span class="text-red">*</span>
                    {% endif %}
                </label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
                <span class="help-block">
                    {% for error in field.errors %}
                        {{ error }}

                    {% endfor %}
                    {{ field.help_text }}
                </span>
            </div>

        {% endfor %}

    </div>
    <div class="box-footer text-center">
        <button type="reset" class="btn btn-sm btn-warning">清空</button>
        <button id="createBtn" type="button" class="btn btn-sm btn-info">提交</button>
        <p class="text-center"><i id='iconWait'></i></p>
    </div>
</form>

<script>
    $('select').select2();
    {% if pk %}
        var url = "{% url 'edit_user' pk %}";
    {% else %}
        var url = "{% url 'add_user' %}";
    {% endif %}


    $("#createBtn").on("click", function () {

        Net.post({
            url: url,
            btn: $("#createBtn"),
            data: $("#createForm").serialize(),
            go: "{% url 'user_list' %}"
        })
    })

</script>