{% extends 'master/base.html' %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{% url 'add_cron' %}" class="btn btn-sm btn-success create-btn">添加计划任务</a>
                    <div class="box-tools pull-right">
                        <form action="" method="get">
                            <div class="input-group input-group-sm" style="width:150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding text-center">
                    <table class="table table-hover">
                        <tr>
                            <td>计划名称</td>
                            <td>主机列表</td>
                            <td>执行用户</td>
                            <td>任务</td>
                            <td>执行时间</td>
                            <td>描述信息</td>
                            <td>操作</td>
                        </tr>
                        {% for cron in crons %}
                            <tr>
                                <td>{{ cron.name }}</td>
                                <td>{{ cron.host_list }}</td>
                                <td>{{ cron.user }}</td>
                                <td>{{ cron.job }}</td>
                                <td>{{ cron.time }}</td>
                                <td>{{ cron.note|default_if_none:"" }}</td>
                                <td>
                                    <div data-url="{% url 'edit_cron' cron.pk %}"
                                         class="btn btn-sm btn-success edit-btn">编辑<i class="fa fa-edit"></i></div>
                                    <div data-url="{% url 'del_cron' cron.pk %}" class="btn btn-sm btn-danger del-btn">
                                        删除<i class="fa fa-trash-o"></i></div>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <nav class="text-center">
                    <ul class="pagination">
                        {{ page_html }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $("#cron").addClass("active");


        //删除计划任务
        $(" .del-btn").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("data-url");
            ui.confirm('请确认是否删除本条记录', function () {
                Net.get({
                    url: url,
                    reload: true,
                  //  success:function (a) {
                   //     window.location.reload()
                 //   }
                })
            })
        })
    </script>
{% endblock %}